<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    -<title> Responsive Registration Form | CodingLab </title>-
    <link rel="stylesheet" href="/css/style2.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">add blood bank info </div>
    <div class="content">
      <form action="/bloodbank" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">ID</span>
            <input type="number" name="id" placeholder="Enter bloodbank ID" required>
          </div>
          <div class="input-box">
            <span class="details"> Name</span>
            <input type="text" name ="name" placeholder="Enter bloodbank name" required>
          </div>
          <div class="input-box">
            <span class="details">blood group</span>
            <input type="text" name ="bg" placeholder="bloog group" required>
          </div>
          <div class="input-box">
            <span class="details">Amount</span>
            <input type="text" name="amount" placeholder="amount" required>
          </div>
        <div class="button">
          <input type="submit" value="update">
        </div> 
      </form>
  </div>

<div class="bk">
        <a href="/home" >Back</a></div>
    </div>
</body>
</html>
