<!DOCTYPE html>
<html>
    <head>
       <title>
                Online Blood Donation  
       </title>
       <link rel="stylesheet" href="/css/homenew.css">
    </head>
    <body>
        <header>
            <div class="sidebar">
                <div class="logo-details">
                  <i class='bx bxl-c-plus-plus'></i>
                  <span class="logo_name">Badhon</span>
                </div>
                <div class="main">
                    <div class="logo">
                        <img src="personnes-blood-donate-logo_1513-123.jpg">
                    </div>
                    <ul>
                        <li class="active"><a href="#">Home</a></li> 
                        <li><a href="/showreq">Requests of Blood</a></li>
                        <li><a href="/bloodbank">Blood Banks update</a></li> 
                        <li><a href="/donorlist">show donor</a></li>
                        <li><a href="/showbloodbank">show blood bank</a></li>
                    </ul>
                </div>
                <div class="title">
                    <h1>
                        Donate Blood & Save Lives
                       
                    </h1>

                </div> 
        </header>
    </body>

</html>